@media (max-width: 1200px) {
    .promo {
        background-position: 20% 0%;
     }
}

@media (max-width: 991px) {
    .promo {
       background-position: 25% 0%;

    }

    .header {
        padding-right: 10px;
    }

    .promo__wrapper {
        padding-right: 10px;
    }

    .carousel {
        .container {
        max-width: 730px;
        }
    }
   .consultation {
       padding-left: 15px;
   }
   .catalog {
    margin: 0 auto;
    max-width: 900px;
    &__content{
        justify-content: center 
    }
   }

}

@media (max-width: 767px) {
    .header {
        margin: 0px 5px 0px 5px;
        &__logo {
            width: 210px;
        }
    }
    
    .promo {
        &__wrapper {
            
            margin-right: 10px;
        }
    }
    
    .carousel {
        .container {
        max-width: 500px;
        }

        .tns-item {
            img {
                width:70%;
            }
        }
    }

    .advantages {
        &__wrapper{
            margin-top: 50px;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    
        &__description {
            width: 263px;
            margin-bottom: 25px;
        }
    
        
    }
    
    .title_left {
        font-size: 30px;
    }

    .consultation {
        padding-left: 20px;

        &__description {
            font-size: 18px;
        }
    }

    .catalog {
        padding-bottom: 50px;
    }

    .review {
        margin: 0 10px;
    }
}